/* Style buttons */
.container{

  font-family: 'Open Sans', sans-serif;
  font-family: 'Prompt', sans-serif;
}


.btn {

  background-color:rgb(15, 179, 201);
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */



}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(129, 129, 129);
}

.custom{


border: none; /* Remove borders */
border-radius: 15%;
height:30px;
width:30px;
color: rgb(241, 48, 128); /* White text */
font-size: 14px; /* Set a font size */
cursor: pointer; /* Mouse pointer on hover */
float: right;

}

.custom:hover {
  background-color: rgb(250, 219, 240);
}

.form-check{

  float: right;
  font-size: 15px;
}

.card{

  border-radius: 15px;

}
