<br><br>
<div class="container">
  <div class="row">
  <!--work card-->
    <div class="col-md-3" *ngFor="let work of Works; let i = index">
      <div class="card">
        <h5 class="card-header">{{work.name}}
          <button class="custom" (click)="delete(work._id, i)">
            <i class="fas fa-trash-alt" style="font-size: 18px;"></i>
          </button>
        </h5>
        <div class="card-body">
          <p class="card-text">{{work.detail}}</p><hr>
          <button class="btn" routerLink="/edit-work/{{work._id}}">
            <i class="fas fa-eraser"></i> Edit
          </button>
        </div>
      </div> <!--End work card-->
      <br><br>
    </div>
  </div>
</div> <!--End Container -->


