<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-light">
      <a class="navbar-brand" routerLink="/all-work">
        <img src="https://img.icons8.com/external-photo3ideastudio-lineal-color-photo3ideastudio/64/000000/external-note-home-office-photo3ideastudio-lineal-color-photo3ideastudio.png"/>
        To Do List
      </a>
    </nav>
    <hr>
      <div class="row">
        <div class="col-md-12">
            <br>
            <button class="btn btn-success" routerLinkActive="active" routerLink="/add-work"> Add Work</button>
        </div>
      </div>
      <br><br>
      <!--footer-->
      <div class="row">
        <div class="footer-content">
            <footer class="text-center">
              <div class="mb-2">
                <small>
                  © 2022 <i class="fa fa-heart" style="color:red"></i> by PANUPONG JAROENSAWAT<a rel="noopener noreferrer" href="#"> NU</a>
                </small>
              </div>
            </footer>
          </div>
      </div> <!--End footer-->
      <div class="img-custom">
      <img src="./../assets/images/arabica-1127.png">
      </div>
  </div>
</div>
<router-outlet></router-outlet>
